.footer {

    display: flex;
    flex-direction: column;

    color: white;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;

    height: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(20, 20, 20);


    .footer-link {
        text-transform: uppercase;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        height: 5vh;
    }
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    padding-left: 10vw;
    padding-right: 10vw;
}

@media only screen and (max-width: 767px) {

    .footer-links {
        display: none;
    }
}