.footer {

    height: 10vh;
    max-width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    color: white;
}