@media only screen and (min-width: 768px) {

    .header-desktop {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1vw;
        background-image: url(../resources/header.jpg);
        background-size: cover;
        max-width: 80vw;
        height: 100vh;
        border-radius: 1vw;
        box-shadow: 0 0 1vw gray;
        padding: 2vw;
        margin: 10vh 10vw 10vh 10vw;
    
        h1 {
            color: white;
            font-size: 4.5em;
            text-transform: uppercase;
        }
    
        button {
            color: rgb(30, 30, 30);
            font-size: 1.5em;
            text-transform: uppercase;
            background-color: #f5ce35;
            padding: 1vw;
            border-radius: 5px;
            border: medium none;
            cursor: pointer;
        }
    }

    .header-mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .header-mobile {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        gap: 1vw;
        background-color: rgb(20, 20, 20);
        max-width: 100vw;
        max-height: 100vh;
        padding: 5vw;
    
        h1 {
            color: white;
            font-size: 3em;
            text-transform: uppercase;
        }
    
        button {
            color: rgb(30, 30, 30);
            font-size: 1.5em;
            text-transform: uppercase;
            background-color: #f5ce35;
            padding: 2vw;
            border-radius: 5px;
            border: medium none;
            cursor: pointer;
        }
    }

    .header-desktop {
        display: none;
    }
}
