.main {

    display: flex;
    flex-direction: column;

    max-width: 100vw;
    height: 1000vh;

    padding-left: 10vw;
    padding-right: 10vw;
}

.home {

    position: relative;
    margin-top: 20vh;

    img {
        max-width: 100%;
        border-radius: 1vw;
        box-shadow: 0 0 1vw gray;
    }

    .container {

        position: absolute;
        top: 3vw;
        left: 3vw;

        h1 {
            color: white;
            font-size: 4vw;
            margin: 0.5vw;
        }

        button {
            color: rgb(30, 30, 30);
            font-size: 1.5vw;
            text-transform: uppercase;
            background-color: #f5ce35;
            margin: 0.5vw;
            padding: 0.5vw;
            border-radius: 5px;
            border: medium none;
            cursor: pointer;
        }

    }
}

.meals {
    
    position: relative;
    padding-top: 20vh;

    h1 {
        font-size: 4vw;
        color: rgb(30, 30, 30);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5vh;
    }

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        figure {

            img {
                max-width: 15vw;
                border-radius: 50%;
                box-shadow: 0 0 1vw gray;
            }

            figcaption {

                text-align: center;
                padding: 1vw;

                a {
                    font-size: 1.5vw;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.recipes {
    
    padding-top: 20vh;

    h1 {
        font-size: 4vw;
        color: rgb(30, 30, 30);
        text-transform: uppercase;
        text-align: center;
    }

    .user-cards {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .card {
            max-width: 15vw;
            padding: 1vw;
            margin: 1vw;

            .image {
                max-width: 100%;
            }

            .header {
                font-size: 2vw;
            }

            .body {
                font-size: 1.25vw;
            }
        }
    }
}