.main {

    display: flex;
    flex-direction: column;
    gap: 10vh;

    margin: 5vh 10vw 5vh 10vw;
}

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgba(0, 0, 0, 0.9);

    h1 {
        color: white;
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
    }

    button {
        color: rgb(30, 30, 30);
        font-size: 1.5em;
        text-transform: uppercase;
        background-color: #f5ce35;
        margin: 4vw;
        padding: 4vw;
        border-radius: 5px;
        border: medium none;
        cursor: pointer;
    }

}

.home {

    position: relative;

    .food {
        max-width: 100%;
        border-radius: 1vw;
        box-shadow: 0 0 1vw gray;
    }

    .container {

        position: absolute;
        top: 3vw;
        left: 3vw;

        h1 {
            color: white;
            font-size: 4.5em;
            margin: 0.5vw;
            text-transform: uppercase;
        }

        button {
            color: rgb(30, 30, 30);
            font-size: 1.5em;
            text-transform: uppercase;
            background-color: #f5ce35;
            margin: 0.5vw;
            padding: 0.5vw;
            border-radius: 5px;
            border: medium none;
            cursor: pointer;
        }

    }
}

.meals {
    
    position: relative;

    h1 {
        font-size: 4em;
        color: rgb(30, 30, 30);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5vh;
    }

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        figure {

            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                max-width: 15vw;
                border-radius: 50%;
                box-shadow: 0 0 1vw gray;
            }

            figcaption {

                text-align: center;
                padding: 1vw;

                a {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.recipes {

    h1 {
        font-size: 4em;
        color: rgb(30, 30, 30);
        text-transform: uppercase;
        text-align: center;
    }

    .user-cards {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .card {
            padding: 1vw;
            margin: 1vw;

            .image {
                width: 20vw;
                height: auto;
                border-radius: 5%;
                box-shadow: 0 0 1vw gray;
            }

            .header {
                font-size: 2em;
            }

            .body {
                font-size: 1.25em;
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .home {
        display: none;
    }
    .meals {
        h1 {
            font-size: 2.5em;
            margin-bottom: 2.5vh;
        }
        .container {
            flex-wrap: wrap;

            figure {
                width: 30vw;
                align-items: center;

                img {
                    min-width: 30vw;
                }
            }

            figcaption {
                font-size: 1em;
            }
        }
    }

    .recipes {
        h1 {
            font-size: 2.5em;
            padding-bottom: 5vh;
        }

        .image {
            width: 80vw;
        }
    
        .card {
            width: 80vw;
        }
    }
}

@media only screen and (min-width: 767px) {
    .header {
        display: none;
    }
}