.nav {

    padding-left: 10vw;
    padding-right: 10vw;
    
    height: 15vh;
    max-width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    overflow: hidden;
}

.logo {

    a {
        display: inline;
        color: white;
        font-size: 4em;
        text-shadow: 4px 3px 0px gray;
        text-decoration: none;
        text-align: center;
        font-weight: bold;

        &:hover {
            color: #f5ce35;
            text-shadow: 4px 3px 0px rgb(61, 61, 0);
        }
    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    .nav-link {
        text-transform: uppercase;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        height: 5vh;

        .search {
            max-height: 75%;
            width: auto;
            filter: invert(1);
        }

        &:hover {
            color: #f5ce35;
        }
    }
}

@media only screen and (max-width: 767px) {

    .nav-links {
        display: none;
    }

    .logo {
        a {
            font-size: 13vw;
        }
    }
}

