.nav {

    padding-left: 10vw;
    padding-right: 10vw;
    
    height: 15vh;
    max-width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;
}

.logo {
    max-height: 75%;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    .nav-link {
        text-transform: uppercase;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        height: 5vh;

        .search {
            max-height: 75%;
            width: auto;
            filter: invert(1);
        }
    }
}

@media only screen and (max-width: 767px) {

    .nav-links {
        display: none;
    }

    .logo {
        max-width: 80vw;
        height: auto;
    }
}

