.nav {

    padding-left: 10vw;
    padding-right: 10vw;
    
    height: 15vh;
    width: 100vw;

    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;
}

.logo {
    height: 75%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    .nav-link {
        text-transform: uppercase;
        font-size: 1.5vw;
        color: white;
        text-decoration: none;
        height: 5vh;

        .search {
            height: 75%;
            filter: invert(1);
        }
    }
}

