.recipes {

    h1 {
        font-size: 4em;
        color: rgb(30, 30, 30);
        text-transform: uppercase;
        text-align: center;
    }

    .user-cards {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .card {
            padding: 1vw;
            margin: 1vw;

            .image {
                width: 20vw;
                height: auto;
                border-radius: 5%;
                box-shadow: 0 0 1vw gray;
            }

            .header {
                font-size: 2em;
            }

            .body {
                font-size: 1.25em;
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .recipes {
        h1 {
            font-size: 2.5em;
            padding-bottom: 5vh;
        }

        .image {
            width: 80vw;
        }
    
        .card {
            width: 80vw;
        }
    }
}