* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid yellow;
}

html {
    scroll-behavior: smooth;
    font-family: Fredoka;
}

@import "./nav";
@import "./main";
@import "./footer";