* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Fredoka;
}

.nav {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 15vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.logo a {
  display: inline;
  color: white;
  font-size: 4em;
  text-shadow: 4px 3px 0px gray;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
.logo a:hover {
  color: #f5ce35;
  text-shadow: 4px 3px 0px rgb(61, 61, 0);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}
.nav-links .nav-link {
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  height: 5vh;
}
.nav-links .nav-link .search {
  max-height: 75%;
  width: auto;
  filter: invert(1);
}
.nav-links .nav-link:hover {
  color: #f5ce35;
}

@media only screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
  .logo a {
    font-size: 13vw;
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin: 5vh 10vw 5vh 10vw;
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  height: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: rgb(20, 20, 20);
}
.footer-links .footer-link {
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  height: 5vh;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: black;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media only screen and (max-width: 767px) {
  .footer-links {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    background-image: url(https://mateq2005.github.io/rice-and-spice/resources/header.jpg);
    background-size: cover;
    max-width: 80vw;
    height: 100vh;
    border-radius: 1vw;
    box-shadow: 0 0 1vw gray;
    padding: 2vw;
    margin: 10vh 10vw 10vh 10vw;
  }
  .header-desktop h1 {
    color: white;
    font-size: 4.5em;
    text-transform: uppercase;
  }
  .header-desktop button {
    color: rgb(30, 30, 30);
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #f5ce35;
    padding: 1vw;
    border-radius: 5px;
    border: medium none;
    cursor: pointer;
  }
  .header-mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
    background-color: rgb(20, 20, 20);
    max-width: 100vw;
    max-height: 100vh;
    padding: 5vw;
  }
  .header-mobile h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
  }
  .header-mobile button {
    color: rgb(30, 30, 30);
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #f5ce35;
    padding: 2vw;
    border-radius: 5px;
    border: medium none;
    cursor: pointer;
  }
  .header-desktop {
    display: none;
  }
}
.recipes h1 {
  font-size: 4em;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  text-align: center;
}
.recipes .user-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.recipes .user-cards .card {
  padding: 1vw;
  margin: 1vw;
}
.recipes .user-cards .card .image {
  width: 20vw;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 0 1vw gray;
}
.recipes .user-cards .card .header {
  font-size: 2em;
}
.recipes .user-cards .card .body {
  font-size: 1.25em;
}

@media only screen and (max-width: 767px) {
  .recipes h1 {
    font-size: 2.5em;
    padding-bottom: 5vh;
  }
  .recipes .image {
    width: 80vw;
  }
  .recipes .card {
    width: 80vw;
  }
}
.meals {
  position: relative;
}
.meals h1 {
  font-size: 4em;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5vh;
}
.meals .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.meals .container figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meals .container figure img {
  max-width: 15vw;
  border-radius: 50%;
  box-shadow: 0 0 1vw gray;
}
.meals .container figure figcaption {
  text-align: center;
  padding: 1vw;
}
.meals .container figure figcaption a {
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 767px) {
  .meals h1 {
    font-size: 2.5em;
    margin-bottom: 2.5vh;
  }
  .meals .container {
    flex-wrap: wrap;
  }
  .meals .container figure {
    width: 30vw;
    align-items: center;
  }
  .meals .container figure img {
    min-width: 30vw;
  }
  .meals .container figcaption {
    font-size: 1em;
  }
}
