* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid yellow;
}

html {
  scroll-behavior: smooth;
  font-family: Fredoka;
}

.nav {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 15vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.logo {
  height: 75%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}
.nav-links .nav-link {
  text-transform: uppercase;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
  height: 5vh;
}
.nav-links .nav-link .search {
  height: 75%;
  filter: invert(1);
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 1000vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.home {
  position: relative;
  margin-top: 20vh;
}
.home img {
  max-width: 100%;
  border-radius: 1vw;
  box-shadow: 0 0 1vw gray;
}
.home .container {
  position: absolute;
  top: 3vw;
  left: 3vw;
}
.home .container h1 {
  color: white;
  font-size: 4vw;
  margin: 0.5vw;
}
.home .container button {
  color: rgb(30, 30, 30);
  font-size: 1.5vw;
  text-transform: uppercase;
  background-color: #f5ce35;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 5px;
  border: medium none;
  cursor: pointer;
}

.meals {
  position: relative;
  padding-top: 20vh;
}
.meals h1 {
  font-size: 4vw;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5vh;
}
.meals .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.meals .container figure img {
  max-width: 15vw;
  border-radius: 50%;
  box-shadow: 0 0 1vw gray;
}
.meals .container figure figcaption {
  text-align: center;
  padding: 1vw;
}
.meals .container figure figcaption a {
  font-size: 1.5vw;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.recipes {
  padding-top: 20vh;
}
.recipes h1 {
  font-size: 4vw;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  text-align: center;
}
.recipes .user-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.recipes .user-cards .card {
  max-width: 15vw;
  padding: 1vw;
  margin: 1vw;
}
.recipes .user-cards .card .image {
  max-width: 100%;
}
.recipes .user-cards .card .header {
  font-size: 2vw;
}
.recipes .user-cards .card .body {
  font-size: 1.25vw;
}

.footer {
  height: 10vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}
